{% extends "rating/base.html" %}
{% load bootstrap %}
{% block content %}
<!-- Navigation -->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
        <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    </ol>
    <div class="carousel-inner" role="listbox">
        <!-- Slide One - Set the background image for this slide in the line below -->
        <div class="carousel-item active" style="background-image: url('../static/rating/images/image-1.jpg');">
        </div>
        <!-- Slide Two - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../static/rating/images/image-7.jpg');">

        </div>
        <!-- Slide Three - Set the background image for this slide in the line below -->
        <div class="carousel-item" style="background-image: url('../static/rating/images/image-3.jpg');">

        </div>
        <div class="carousel-item" style="background-image: url('../static/rating/images/image-2.jpg');">

        </div>
        <div class="carousel-item" style="background-image: url('../static/rating/images/image-6.jpg');">

        </div>
        <div class="carousel-item" style="background-image: url('../static/rating/images/image-4.jpg');">

        </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>

<div class="container-fluid">
    <br>
    <div class="row w-150">
        <div class="col-md-4">
            <div class="card border-success mx-sm-1 p-3">
                <div class="card border-success shadow text-success p-3 my-card"><span class="fa fa-film" aria-hidden="true"></span></div>
                <div class="text-success text-center mt-3">
                    <h4>Total Movies</h4>
                </div>
                <div class="text-success text-center mt-2">
                    <h1>{{movies_count}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-danger mx-sm-1 p-3">
                <div class="card border-danger shadow text-danger p-3 my-card"><span class="fa fa-heart" aria-hidden="true"></span></div>
                <div class="text-danger text-center mt-3">
                    <h4>Total Ratings</h4>
                </div>
                <div class="text-danger text-center mt-2">
                    <h1>{{post_count}}</h1>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card border-warning mx-sm-1 p-3">
                <div class="card border-warning shadow text-warning p-3 my-card"><span class="fa fa-users" aria-hidden="true"></span></div>
                <div class="text-warning text-center mt-3">
                    <h4>Total Users</h4>
                </div>
                <div class="text-warning text-center mt-2">
                    <h1>{{user_count}}</h1>
                </div>
            </div>
        </div>
    </div>
</div>






{% endblock content %}
