{% extends "rating/base.html" %}
{% load crispy_forms_tags %}
{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-4 content-section login text-white ">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4">Rating Post</legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-success btn-lg" type="submit">Post</button>
            </div>
        </form>
    </div>
</div>
{% endblock content %}
